// PLACE HOLDERS
// just Flex
%flex-enable-row {
    display: flex;
}

// flex and column
%flex-enable-column {
    display: flex;
    flex-direction: column;
}

// Just for 100% height
%one-hundo-full {
    width: 100%;
}

// wrapper containing width and max-width
%max-width-declaration {
    @extend %one-hundo-full;
    max-width: 1000px;
}

// The main font declaration
%title-font {
    font-family: 'Montserrat', sans-serif;
}

// VARIABLES
/* Color Declaration */
$primary-color:#353535; //text
$secondary-color:#97f9f9; //background
$tertiary-color:#d6694a; //alt Color 2
$quaternary-color:#ba1f33; //alt Color 1

// stripping default settings, adding color and fonts
h1,
h2,
h3,
h4,
p,
a {
    margin: 0;
    padding: 0;
    color: $secondary-color;
    @extend %title-font;
    text-decoration: none;
    list-style-type: none;
}

body,
main,
header,
.dual-wrapper,
.main-wrapper,
.required-keys div,
.user-input-keys div,
.countdown-timer div {
    align-items: center;
    justify-content: center;

}

// centering content
body,
.dual-wrapper,
.start-reset,
.required-keys,
.user-input-keys,
.countdown-timer {
    @extend %one-hundo-full;
    @extend %flex-enable-row;
}

h2,
h3,
h4 {
    color: $primary-color;
}

// sets the basic font to 20px
html {
    font-size: 125%;
}

// the body of the program
body {
    background: linear-gradient(90deg, rgba(218, 224, 242, 1) 50%, rgba(151, 249, 249, 1) 50%);
}

// text-shadow application
.type-title-1,
.type-title-2,
.type-title-3,
.type-title-4,
.cursive-title,
h4 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

// Individual H styling
h1 {
    font-size: 6rem;

    .type-title-1,
    .type-title-2,
    .type-title-3,
    .type-title-4 {
        color: $quaternary-color;
        display: inline-block;
    }

    // not really cursive but kept the name
    .cursive-title {
        color: $tertiary-color;
    }

    .type-title-2 {
        transform: translatey(20px);
    }

    .type-title-3 {
        transform: translatey(-10px);
    }

    .type-title-4 {
        transform: translatey(25px);
    }
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 3.5rem;
}

.dual-wrapper {
    max-width: 2000px;
}