// The right side
main {
    @extend %flex-enable-column;
    @extend %one-hundo-full;
    height: 100vh;
    background-color: $secondaryColor;
    
    // wrapper containing the content in the main element
    .main-wrapper {
        @extend %max-width-declaration;
        @extend %flex-enable-column;
        border: 8px solid $tertiaryColor;
        min-width: 320px;
        padding: 3%;
        margin-right: 5%;
    }

    // flex row
    .required-keys div,
    .user-input-keys div,
    .countdown-timer div {
        @extend %flex-enable-row;
    }

    // Padding for elements in the main
    .required-keys,
    .user-input-keys,
    .countdown-timer {
        padding: 5% 0 5% 0;
    }

    // set height in px for keys required
    .required-keys div,
    .user-typed-letter {
        width: 100px;
        height: 100px;
    }

    // styling for required keys
    .required-keys {
        align-items: center;
        div {
            border: 10px solid $quaternaryColor;
        }
    }

    // styling for input keys
    .user-input-keys {
        justify-content: center;

        .user-typed-letter {
            margin-left: 2%;
            border: 10px solid $tertiaryColor;
        }
    }

    // styling for the timer
    .countdown-timer {
        .user-score,
        .user-timer {
            width: 120px;
            height: 120px;
            margin-right: 2%;
            border: 10px solid $quaternaryColor;
        }
    }

    .start-reset,
    .countdown-timer,
    .required-keys {
        justify-content: space-between;
    }

    // styling for the start button
    .start-game:hover {
        background-color: $quaternaryColor;
    }
}