@media (max-width:1000px) {
    header {
        background: linear-gradient(45deg, rgba(218, 224, 242, 1) 50%, rgba(151, 249, 249, 1) 50%);
    }

    body,
    .dual-wrapper {
        flex-direction: column;
    }

    main {
        .main-wrapper {
            margin-right: 0;
        }
    }
}

@media (max-width:550px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    main {

        .required-keys div,
        .countdown-timer .user-score,
        .countdown-timer .user-timer {
            width: 65px;
            height: 65px;
            border: 8px solid $quaternaryColor;
        }

        .user-input-keys {
            .user-typed-letter {
                width: 65px;
                height: 65px;
                border: 8px solid $tertiaryColor;
            }
        }

    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) and (orientation : landscape) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    main {
        .main-wrapper {
            margin-right: 0;
        }

        .required-keys,
        .user-input-keys,
        .countdown-timer {
            padding: 1% 0 1% 0;
        }

        .required-keys div,
        .user-input-keys .user-typed-letter,
        .countdown-timer .user-score,
        .countdown-timer .user-timer {
            width: 65px;
            height: 65px;
        }

        .required-keys {
            div {
                border: 8px solid $quaternaryColor;
            }
        }

        .user-input-keys {

            .user-typed-letter {
                border: 7px solid $tertiaryColor;
            }
        }

        .countdown-timer {
            .user-score,
            .user-timer {
                border: 8px solid $quaternaryColor;
            }

        }
    }
}