@media (max-width:1000px) {
    body {
        flex-direction: column;
    }

    main {
        .main-wrapper {
            margin-right: 0;
            // height: auto;
        }
    }

    .dual-wrapper {
        flex-direction: column;
    }
}

@media (max-width:550px) {
    body {
        // max-height: 1136px;
    }


    header {
        background: linear-gradient(70deg, rgba(218, 224, 242, 1) 50%, rgba(151, 249, 249, 1) 50%);
        // height: auto;
    }

    h1 {
        // @extend %titleFont;
        font-size: 4rem;

    }

    h2 {
        color: $primaryColor;
        font-size: 2rem;
    }

    h3 {
        color: $primaryColor;
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    main {
        .main-wrapper {
            margin-right: 0;
            // height: 100vh;
        }

        .required-keys {
            div {
                width: 65px;
                height: 65px;
                border: 8px solid $quaternaryColor;
            }
        }

        .user-input-keys {
            .user-typed-letter {
                width: 65px;
                height: 65px;
                border: 7px solid $tertiaryColor;

            }
        }

        .countdown-timer {
            .user-score {
                width: 65px;
                height: 65px;
                border: 8px solid $quaternaryColor;
            }

            .user-timer {
                width: 65px;
                height: 65px;
                border: 8px solid $quaternaryColor;
            }

        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) and (orientation : landscape) {
    /* CSS here */

    body {
        // min-height: 1136px;
    }


    header {
        // height: 1000px;
    }

    // main {
    //     .main-wrapper {

    //         // height: 100vh;
    //     }


    // }

    h1 {
        // @extend %titleFont;
        font-size: 4rem;

    }

    h2 {
        color: $primaryColor;
        font-size: 2rem;
    }

    h3 {
        color: $primaryColor;
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    main {
        .main-wrapper {
            margin-right: 0;
            // height: 100vh;
        }

        .required-keys {
            padding: 1% 0 1% 0;

            div {
                width: 65px;
                height: 65px;
                border: 8px solid $quaternaryColor;
            }
        }

        .user-input-keys {
            padding: 1% 0 1% 0;

            .user-typed-letter {
                width: 65px;
                height: 65px;
                border: 7px solid $tertiaryColor;

            }
        }

        .countdown-timer {
            padding: 1% 0 1% 0;

            .user-score {
                width: 65px;
                height: 65px;
                border: 8px solid $quaternaryColor;
            }

            .user-timer {
                width: 65px;
                height: 65px;
                border: 8px solid $quaternaryColor;
            }

        }
    }
}




// @media (max-height:350px) {
//     header {
//         height: 100%;
//     }

// }