article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body,
.dual-wrapper,
.start-reset,
.required-keys,
.user-input-keys,
.countdown-timer, header div, main .required-keys div,
main .user-input-keys div,
main .countdown-timer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header, main, main .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header, main .main-wrapper, body,
.dual-wrapper,
.start-reset,
.required-keys,
.user-input-keys,
.countdown-timer, main {
  width: 100%;
}

header, main .main-wrapper {
  max-width: 1000px;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Montserrat', sans-serif;
}

/* Color Declaration */
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  color: #97f9f9;
  text-decoration: none;
  list-style-type: none;
}

body,
main,
header,
.dual-wrapper,
.main-wrapper,
.required-keys div,
.user-input-keys div,
.countdown-timer div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2,
h3,
h4 {
  color: #353535;
}

html {
  font-size: 125%;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #dae0f2), color-stop(50%, #97f9f9));
  background: linear-gradient(90deg, #dae0f2 50%, #97f9f9 50%);
}

.type-title-1,
.type-title-2,
.type-title-3,
.type-title-4,
.cursive-title,
h4 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 6rem;
}

h1 .type-title-1,
h1 .type-title-2,
h1 .type-title-3,
h1 .type-title-4 {
  color: #ba1f33;
  display: inline-block;
}

h1 .cursive-title {
  color: #d6694a;
}

h1 .type-title-2 {
  -webkit-transform: translatey(20px);
          transform: translatey(20px);
}

h1 .type-title-3 {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

h1 .type-title-4 {
  -webkit-transform: translatey(25px);
          transform: translatey(25px);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 3.5rem;
}

.dual-wrapper {
  max-width: 2000px;
}

header {
  background: linear-gradient(70deg, #dae0f2 50%, #97f9f9 50%);
  height: 100vh;
}

main {
  height: 100vh;
  background-color: #97f9f9;
}

main .main-wrapper {
  border: 8px solid #d6694a;
  min-width: 320px;
  padding: 3%;
  margin-right: 5%;
}

main .required-keys,
main .user-input-keys,
main .countdown-timer {
  padding: 5% 0 5% 0;
}

main .required-keys div,
main .user-typed-letter {
  width: 100px;
  height: 100px;
}

main .required-keys {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .required-keys div {
  border: 10px solid #ba1f33;
}

main .user-input-keys {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .user-input-keys .user-typed-letter {
  margin-left: 2%;
  border: 10px solid #d6694a;
}

main .countdown-timer .user-score,
main .countdown-timer .user-timer {
  width: 120px;
  height: 120px;
  margin-right: 2%;
  border: 10px solid #ba1f33;
}

main .start-reset,
main .countdown-timer,
main .required-keys {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .start-game:hover {
  background-color: #ba1f33;
}

@media (max-width: 1000px) {
  header {
    background: linear-gradient(45deg, #dae0f2 50%, #97f9f9 50%);
  }
  body,
  .dual-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-wrapper {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  main .required-keys div,
  main .countdown-timer .user-score,
  main .countdown-timer .user-timer,
  main .user-input-keys .user-typed-letter {
    width: 65px;
    height: 65px;
  }
  main .required-keys div,
  main .countdown-timer .user-score,
  main .countdown-timer .user-timer {
    border: 8px solid #ba1f33;
  }
  main .user-input-keys .user-typed-letter {
    border: 8px solid #d6694a;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) and (orientation: landscape) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  main .main-wrapper {
    margin-right: 0;
  }
  main .required-keys,
  main .user-input-keys,
  main .countdown-timer {
    padding: 1% 0 1% 0;
  }
  main .required-keys div,
  main .user-input-keys .user-typed-letter,
  main .countdown-timer .user-score,
  main .countdown-timer .user-timer {
    width: 65px;
    height: 65px;
  }
  main .required-keys div,
  main .countdown-timer .user-score,
  main .countdown-timer .user-timer {
    border: 8px solid #ba1f33;
  }
  main .user-input-keys .user-typed-letter {
    border: 7px solid #d6694a;
  }
}
/*# sourceMappingURL=style.css.map */